{
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx",
        "*.json",
        "*.html",
        "*.css",
        "*.scss"
      ]
    }
  ]
}
